* {
	margin: 0;
	padding: 0;
}
.visina{
	height:400px;
}
.slika{
	width:100%;
	height:400px;
}
.naslov{
	position:absolute;
	top:44%;
	left:44%;
	color:rgb(247, 247, 247);
}
.divRelative{
	position:relative;
}